/* -------------------- ABOUT SECTION -------------------- */
.about-section {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  background: linear-gradient(120deg, #ffe5d4, #ffd1dc);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: background 0.5s ease;
}

.about-section:hover {
  background: linear-gradient(120deg, #ffd1dc, #ffe5d4);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
}

/* Image of myself styling */
.about-image {
  width: 250px;
  display: flex;
  justify-content: center;
}
/* Put my photo into a circle with orange border and shadow */
.about-me-photo {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid coral;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* Animation on photo when hovering */
.about-me-photo:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* About text styling */
.about-text {
  width: 500px;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: coral;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.about-text h3 {
  font-size: 1.3rem;
  margin: 20px 0 10px;
  color: coral;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}


.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #444;
}

/* Programming languages and technologies text */
.about-text ul {
  list-style-position: inside;
  padding: 20px 30px;
  text-align: center;
  display: inline-block;
  border: 3px dashed coral;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*  Hover effect on programming languages and technologies list items */
.about-text ul:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
/* List styling */
.about-text li {
  display: inline-block;
  margin: 5px 15px;
  font-size: 1.2rem;
  list-style: disc inside;
}

/* Link styling */
.about-text li a {
  text-decoration: none;
  color: coral;
  font-weight: bold;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

/* Link hovering styling */
.about-text li a:hover {
  color: orange;
  transform: scale(1.2) translateY(-3px);
  text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  cursor: pointer;
}

