.home-content h2 {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  color: silver;
  padding: 0;
  margin: 5px;
}


.home-content h1{
  text-align: center;
  font-size: 64px;
  color: coral;
  padding: 0;
  margin: 0;
  text-shadow: black 2px 2px;
}

.home-content p {
  text-align: center;
}

.home-content{
  padding: 15px;
}

